@import "../../../styles/themes";
@import "../../../styles/typography/typography";
@import "../../../styles/typography";
@import "../../../styles/states";
@import "../../../styles/global-css-settings";

.l3-style-menu-item {
  margin: unset;
  @include font-default;
  display: flex;
  flex-direction: row;
  padding: 23px;
  @include theme-prop(color, primary-text-color);
  cursor: pointer;
  user-select: none;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
  gap: 16px;

  .l3-style-menu-item__sub_menu_icon-wrapper {
    margin-left: $spacing-xs;
  }

  .l3-style-menu-item__sub_menu_icon-wrapper,
  .l3-style-menu-item__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .l3-style-menu-item__sub_menu_icon,
    .l3-style-menu-item__icon {
      @include theme-prop(color, primary-text-color);
    }
  }

  &.l3-style-menu-item--disabled {
    cursor: not-allowed;
    @include theme-prop(color, primary-text-color-disabled);
    @include theme-prop(background, primary-background-disabled);

    .l3-style-menu-item__sub_menu_icon,
    .l3-style-menu-item__icon {
      cursor: not-allowed;
      @include theme-prop(color, primary-text-color-disabled);
    }
  }

  &:not(.l3-style-menu-item--disabled) {
    &.l3-style-menu-item--focused {
      @include theme-prop(background, primary-background-hover);
      &:not(:hover):not(.l3-style-menu-item-initial-selected) {
        @include focus-style-css();
      }
      border-radius: var(--border-radius-small);
    }

    &.l3-style-menu-item--selected {
      background-color: red;
      // @include theme-prop(background-color, primary-selected-color);
      border-radius: var(--border-radius-small);

      .l3-style-menu-item__icon-wrapper {
        .l3-style-menu-item__icon {
          @include theme-prop(color, primary-color);
        }
      }
    }
  }

  .l3-style-menu-item__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    @include typography-label-medium();
    .l3-style-menu-item__description {
      @include typography-paragraph-small();
      @include theme-prop(color, on-color-secondary);
    }
  }

  .l3-style-menu-item__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 0;
    @include font-caption();
  }
}
