@import "../../styles/global-css-settings";
@import "../../styles/typography";
@import "../../styles/typography/typography";
@import "../../styles/themes";
@import "../../styles/keyframes";

$warning-background-color: linear-gradient(180deg, #fdfe53 0%, #eb9b3a 100%);
$negative-background-color: linear-gradient(180deg, #e96878 0%, #d62e2e 100%);
$toast-border-radius: 12px;
$toast-width: 343px;
$toast-height: 72px;

.l3-style-toast {
  @include typography-label-medium();
  @include box-shadow-medium();
  @include theme-prop(color, var(--text-color-on-primary));
  position: absolute;
  width: $toast-width;
  height: $toast-height;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: $toast-border-radius;

  &-icon-small {
    margin-left: 22.67px;
    margin-right: 22.67px;
    // border: 1px solid white;
  }
  &-icon-large {
    margin-left: 23.17px;
    margin-right: 17.16px;
    // border: 1px solid white;
  }

  &-content {
    display: inline-flex;
    flex-grow: 1;
    // border: 1px solid red;
    margin-right: 22px;
    &-no-icon {
      padding-right: 24px;
      margin-left: -17px;
      // border: 1px solid black;
    }
  }

  &-action {
    margin-left: $spacing-medium;
    display: flex;
    &_button {
      background: var(--color-black);
      width: 88px;
      height: 36px;
      border-radius: $border-radius-big;
      padding: 10px 16px;
      margin-right: 16px;
    }
    &_link {
      margin-left: $spacing-small;
    }
  }

  &--type {
    &-positive {
      background: var(--color-background-positive);
    }
    &-negative {
      background: var(--color-background-negative);
    }
    &-warning {
      background: $warning-background-color;
    }
  }

  &-animation {
    &-enter-active,
    &-exit-active {
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
    &-enter-active {
      animation-duration: var(--motion-expressive-long);
      animation-name: toast-slide-in-elastic;
    }

    &-exit-active {
      animation-duration: var(--motion-productive-long);
      animation-name: toast-slide-out;
    }
  }

  &_close-button {
    margin-right: 24px;
  }
}

@include keyframe(toast-slide-in-elastic) {
  @include slide-in-elastic();
}

@include keyframe(toast-slide-out) {
  @include slide-out();
}

.l3-style-toast-content {
  display: grid;
  @include typography-label-medium();
}

.l3-style-toast-label {
  @include typography-label-medium();
  color: var(--color-black);
  line-height: $font-line-height-small;
  // border: 1px solid white;
}
.l3-style-toast-paragraph {
  @include typography-paragraph-small();
  color: var(--color-transparent-black-05);
  line-height: $font-line-height-small;
  // border: 1px solid black;
}

.l3-style-toast-artwork {
  // padding: $spacing-small $spacing-small;
  background: var (--color-transparent-white-02);
  border-radius: 2px;
  width: 48px;
  height: 48px;
  margin-left: -26px;
  margin-right: 33px;
}

.l3-style-toast-avatar {
  margin-top: 6px;
  margin-left: 20px;
  margin-right: 15px;
  margin-bottom: 24px;
}
