@import "../../styles/themes";

.multi-step-indicator--wrapper {
  display: flex;

  &__divider {
    @include theme-prop(background-color, ui-border-color);
    margin-top: 26px;
    margin-left: 16px;
    margin-right: 24px;
    height: 1px;
    width: 48px;
  }
}

.multi-step-indicator--wrapper-vertical {
  display: block;
}
