@import "/src/styles/global-css-settings";
@import "/src/styles/theme-mixin";

.navigationItemContainer {
  width: $spacing-xl;
  height: $spacing-xl;
  @include theme-prop(color, date-navigation-icon-color);
  @include theme-prop(background-color, date-navigation-icon-bg);
  border: none;
  margin: 0 10px;
  cursor: pointer;
  border-radius: $border-radius-big;
}
