@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

$divider-border-radius: 3px;
$divider-width: 322px;
$divider-height: 2px;

.l3-style-divider {
  position: absolute;
  background: var(--color-transparent-white-03);
  border-radius: $divider-border-radius;
  height: $divider-height;
  width: $divider-width;

  &--vertical {
    transform: rotate(90deg);
    left: 0.85%;
    right: 8.19%;
    top: calc(50% - 2px / 2 + 15px);
  }
  &--horizontal {
    left: 16.52%;
    right: 4.52%;
  }
}
