@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

$divider-border-radius: 3px;
$divider-width: 322px;
$divider-height: 2px;

.l3-style-divider {
  background: var(--color-transparent-white-03);
  border-radius: $divider-border-radius;
  height: $divider-height;
  width: $divider-width;

  &--vertical {
    transform: rotate(90deg);
  }
  &--horizontal {
    margin-left: 100px;
  }
}
