@import "../../styles/mixins";
@import "../../styles/content-spacing";

.l3-storybook-frame {
  @include frame;
  padding: 32px;
  margin: $spacing-between-section-items 0;

  &--no-border {
    border: 0;
  }

  &--no-gutter {
    padding-right: 0;
    padding-left: 0;
  }
}

.story-frame-bg-color {
  background: var(--color-core-background-primary);
}
