@import "../../../styles/themes";
@import "../../../styles/typography";
@import "../../../styles/typography/display-typography";
@import "../../../styles/typography/main-typography";
@import "../../../styles/typography/typography";
@import "../../../styles/global-css-settings";

.divider-description {
  &-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include typography-label-large;
    color: var(--color-transparent-white-06);
  }
  &-vertical-text {
    width: 64px;
    height: 24px;
  }
  &-horizontal-text {
    width: 86px;
    height: 24px;
  }
}

.divider-width {
  width: 48px;
}
