@import "/src/styles/global-css-settings";
@import "/src/styles/theme-mixin";

.datePickerHeader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  .button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    margin-left: $spacing-xs;
    cursor: pointer;

    .buttonContent {
      border-radius: $border-radius-extra-big;
      width: $spacing-large;
      height: $spacing-large;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      transition: all 0.1s ease;
      &:hover {
        background-color: var(--primary-background-hover-on-secondary-color);
        text-decoration: none;
      }
    }
  }
}
