@import "../../styles/global-css-settings";
@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/states";

$checkbox-size: 16px;

@mixin hover-selected {
  @include theme-prop(background-color, primary-hover-color);
  border-color: transparent;
}

@mixin hover-unselected {
  @include theme-prop(border-color, secondary-text-color);
}

.l3-style-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: min-content;

  &__checkbox {
    cursor: pointer;
    visibility: visible;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 21px;
    height: 21px;
    // border: 1px solid;
    // @include theme-prop(border-color, ui-border-color);
    // border-radius: $border-radius-extra-small;
    border: 3.5px solid #000000;
    border-radius: 3.5px;
    // transition: transform var(--motion-productive-short) var(--motion-timing-enter);
    position: relative;
    overflow: hidden;

    // &:after {
    //   content: " ";
    //   background-color: transparent;
    //   position: absolute;
    //   height: $checkbox-size;
    //   z-index: 2;
    //   left: 0;
    //   right: 0;
    //   width: 100%;
    // }

    // &:hover {
    //   @include hover-unselected;
    // }
  }

  &--size {
    &-small {
      .l3-style-checkbox {
        &__checkbox {
          width: 12px;
          height: 12px;
          border-width: 2px;
          border-radius: 2px;
        }
      }
    }
  }

  &--kind {
    &-secondary {
      .l3-style-checkbox {
        &__checkbox {
          border-color: #ffffff;
        }
        &__label {
          color: #ffffff;
        }
        &_input {
          &:checked {
            & + .l3-style-checkbox__checkbox {
              &__checkbox {
                outline: 2px solid rgba(0, 0, 0, 0.2);
              }
            }
          }
        }
      }
    }
  }

  &__icon {
    width: 110%;
    @include theme-prop(color, text-color-on-primary);
    visibility: hidden;
  }

  &__label {
    @include font-input();
    cursor: pointer;
    user-select: none;
    margin-inline-start: $spacing-small;
    // @include theme-prop(color, primary-text-color);
    color: #000000;
  }

  // Since it is not possible to change the design of the checkbox according to the requirements using css,
  // we hide the checkbox and draw a new one instead.
  // In order to allow accessibility, all operations will be performed on the hidden checkbox and be reflected
  // in the new checkbox we drew.
  &__input {
    @include hidden-element();

    // For any active attribute in the hidden checkbox, we will change the appearance of the checkbox we drew in its place.
    &:focus {
      & + .l3-style-checkbox__checkbox {
        @include hover-unselected;
      }

      &:checked + .l3-style-checkbox__checkbox {
        @include hover-selected;
      }
    }
    &:checked {
      &:active {
        & + .l3-style-checkbox__checkbox {
          border-color: #ffffff;
          outline: 1.75px solid #4ca6f8;
          outline-width: 2px;
          border-width: 2px;
        }
      }
    }

    &:focus-visible {
      & + .l3-style-checkbox__checkbox {
        outline: none;
        border: 1px solid;
        @include theme-prop(border-color, primary-color);
        box-shadow: 0 0 0 3px hsla(209, 100%, 50%, 0.5);
        border-radius: 2px;
      }
    }

    &:active {
      & + .l3-style-checkbox__checkbox {
        border-color: #4ca6f8;
        // background-color: red;
      }
    }

    &:checked {
      &:focus + .l3-style-checkbox__checkbox:after {
        @include theme-prop(background-color, primary-hover-color);
      }

      & + .l3-style-checkbox {
        &__checkbox {
          animation: checkbox-grow-animation var(--motion-productive-short);

          &__prevent-animation {
            animation-duration: 0ms;
          }

          border-color: #4ca6f8;
          background-color: #4ca6f8;
          outline: 2px solid rgba(0, 0, 0, 0.2);

          & > .l3-style-checkbox__icon {
            visibility: visible;
          }
        }
      }

      &:disabled + .l3-style-checkbox {
        &__checkbox:after {
          // @include theme-prop(background-color, disabled-background-color);
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }

    &:indeterminate {
      & + .l3-style-checkbox {
        &__checkbox {
          animation: checkbox-grow-animation var(--motion-productive-short);

          &__prevent-animation {
            animation-duration: 0ms;
          }

          border-color: #000000;
          background: transparent;
          outline: 2px solid rgba(0, 0, 0, 0.2);
          & > .l3-style-checkbox__icon {
            visibility: visible;
          }
        }
      }
    }

    &:disabled {
      & + .l3-style-checkbox {
        &__checkbox,
        &__checkbox:hover {
          // @include theme-prop(background-color, disabled-background-color);
          background-color: transparent;
          // @include theme-prop(border-color, ui-border-color);
          border-color: rgba(255, 255, 255, 0.2);
          outline: none;

          .l3-style-checkbox__icon {
            @include theme-prop(color, disabled-text-color);
          }

          cursor: not-allowed;
        }
      }
      &:checked {
        & + .l3-style-checkbox {
          &__checkbox,
          &__checkbox:hover {
            background-color: rgba(255, 255, 255, 0.2);
            border: none;
          }
        }
      }
      & ~ .l3-style-checkbox__label {
        cursor: not-allowed;
        color: var(--disabled-text-color);
      }
    }
  }
}

@keyframes checkbox-grow-animation {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
