@import "../../styles/global-css-settings";
@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/theme-mixin";

.l3-style-button-group-component {
  display: flex;
  flex-direction: column;

  &__sub-text-container {
    @include font-caption();
  }

  &__buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-small;
    .l3-style-button {
      @include theme-prop(background-color, secondary-background-color);
      border-radius: 60px;
      padding: 18px 32px;
      &.l3-style-button--color {
        &-primary {
          &:hover {
            @include theme-prop(background-color, secondary-hover-color);
          }
          &-active {
            z-index: 20;
            &:hover {
              @include theme-prop(background-color, primary-hover-color);
            }

            @include theme-prop(background-color, primary-selected-color);
          }
        }
      }
    }
  }
  &__option-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    &:not(.disabled) {
      @include theme-prop(color, secondary-text-color);
      &.selected {
        z-index: 10;
        @include theme-prop(color, primary-text-on-primary);
        @include theme-prop(background-color, primary-background-color);
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  .disabled {
    cursor: not-allowed;
    background-color: var(--disabled-background-color);
    opacity: 0.5;

    &.l3-style-button--color {
      &-primary {
        &:hover {
          background-color: var(--disabled-background-color);
        }
      }
    }
  }

  .button-disabled {
    background-color: var(--disabled-background-color);
    opacity: 0.5;
    cursor: not-allowed;

    &.l3-style-button--color {
      &-primary {
        &:hover {
          background-color: var(--disabled-background-color);
        }
      }
    }
  }
}
