$display-font-size-large: 90px;
$display-font-size-medium: 52px;
$display-font-size-small: 44px;
$display-font-size-xs-small: 36px;

$heading-font-size-big: 40px;
$heading-font-size-xs-large: 36px;
$heading-font-size-large: 32px;
$heading-font-size-medium: 28px;
$heading-font-size-small: 24px;
$heading-font-size-xs-small: 20px;

$label-font-size-large: 18px;
$label-font-size-medium: 16px;
$label-font-size-small: 14px;
$label-font-size-xs-small: 12px;

$paragraph-font-size-large: 18px;
$paragraph-font-size-medium: 16px;
$paragraph-font-size-small: 14px;
$paragraph-font-size-xs-small: 12px;
