@import "../display-typography.scss";
@import "../../styles/typography.scss";
@import "../theme-mixin.scss";

@mixin main-font($font-variable) {
  @include theme-prop(color, primary-text-on-primary);
  -webkit-font-smoothing: var(--font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--font-smoothing-moz);
  font: $font-variable;
}

@mixin typography-label-large {
  font-size: $label-font-size-large;
  font-weight: $label-font-weight-bold;
  font-family: $label-font-family;
  font-style: $label-font-style;
  line-height: $label-line-height-large;
  color: $white;
}
@mixin typography-label-medium {
  font-size: $label-font-size-medium;
  font-weight: $label-font-weight-bold;
  font-family: $label-font-family;
  font-style: $label-font-style;
  line-height: $label-line-height-medium;
  color: $white;
}
@mixin typography-label-small {
  font-size: $label-font-size-small;
  font-weight: $label-font-weight-bold;
  font-family: $label-font-family;
  font-style: $label-font-style;
  line-height: $label-line-height-small;
  color: $white;
}
@mixin typography-label-xs-small {
  font-size: $label-font-size-xs-small;
  font-weight: $label-font-weight-bold;
  font-family: $label-font-family;
  font-style: $label-font-style;
  line-height: $label-line-height-small;
  color: $white;
}
