@import "./display-typography.scss";
@import "../../styles/typography.scss";
@import "../theme-mixin.scss";

@import "./main-typography.scss";

$label-font-family: "Circular Std";

$label-font-style: normal;

$label-font-weight-bold: 500;
$label-font-weight-normal: 400;

$label-line-height-large: 24px;
$label-line-height-medium: 20px;
$label-line-height-small: 16px;

@mixin main-font($font-variable) {
  @include theme-prop(color, primary-text-on-primary);
  -webkit-font-smoothing: var(--font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--font-smoothing-moz);
  font: $font-variable;
}

@mixin typography-label-large {
  @include main-font($label-font-large);
}

@mixin typography-label-medium {
  @include main-font($label-font-medium);
}

@mixin typography-label-small {
  font-size: $label-font-size-small;
  font-weight: $label-font-weight-bold;
  font-family: $label-font-family;
  font-style: $label-font-style;
  line-height: $label-line-height-small;
  color: $white;
}

@mixin typography-label-xs-small {
  font-size: $label-font-size-xs-small;
  font-weight: $label-font-weight-bold;
  font-family: $label-font-family;
  font-style: $label-font-style;
  line-height: $label-line-height-small;
  color: $white;
}
