@import "./display-typography.scss";

$font-family: "Circular Std";

$font-style: normal;

$font-weight-bold: 500;
$font-weight-weight-normal: 400;

$font-line-height-large: 24px;
$font-line-height-medium: 20px;
$font-line-height-small: 16px;

// $label-font-large: var(--label-font-size-large) var(--font-weight-normal) var;
