@import "../../../../styles/themes";
@import "../../../../styles/typography";
@import "../../../../styles/keyframes";

.l3-style-step-indicator-component {
  // @include theme-prop(color, text-color-on-primary);
  // font-size: var(--font-size-general-label);
  display: flex;
  // margin: 0;
  // padding: 0;
  // text-indent: 0;
  // list-style-type: none;
  // border: 1px solid white;

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;

    &__title {
      width: 93px;
      height: 32px;
      font-family: "Circular Std";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #ffffff;
      margin-left: 20px;

      .visually-hidden {
        display: none;
      }

      &__text {
        // @include font-paragraph();
        // @include theme-prop(color, primary-text-color);
      }
    }

    &__subtitle__text {
      width: 69px;
      height: 28px;
      font-family: "Circular Std";
      font-style: normal;
      font-weight: 450;
      font-size: 18px;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &--text-placement-vertical {
    // margin: 8px;
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 30px;
    // flex: 1;
    // box-sizing: border-box;
    // flex-wrap: wrap;
    // grid-template-columns: 1fr 2fr;
    border: 1px solid yellow;
    // transform: rotate(90deg);

    .l3-style-step-indicator-component {
      &__text-container {
        margin-left: 0px;
        margin-top: 8px;
        // border: 1px solid red;
        margin-left: 10px;
      }

      &__number-divider-container {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // border: 1px solid red;
        width: 100%;

        .l3-style-divider {
          @include theme-prop(background-color, ui-border-color);
          // margin: 16px 0 16px 16px;
          height: 1px;
          flex-grow: 1;
          // border: 1px solid red;
        }
      }
    }
  }

  &.clickable {
    cursor: pointer;
  }

  &--with-animation {
    animation: step-indicatior-circle-pop-elastic var(--motion-expressive-short);
  }

  &--swap {
    /* New state enters */
    &-enter {
      opacity: 0;
      transform: translateY(15px);
    }

    &-enter-active {
      position: relative;
      opacity: 1;
      transition: transform var(--motion-productive-long) var(--motion-timing-enter),
        opacity var(--motion-productive-short);
      transform: translateY(0);
    }

    /* Old state leaves */
    &-exit {
      position: relative;
      opacity: 1;
      transform: translateY(0);
    }

    &-exit-active {
      position: relative;
      opacity: 0;
      transform: translateY(-15px);
      transition: transform var(--motion-productive-long) var(--motion-timing-enter),
        opacity var(--motion-productive-short);
    }
  }

  &__number-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 56px;
    height: 56px;

    &__text {
      margin: auto;
      display: flex;
      align-items: center;

      &__check-icon {
        width: 20px;
        height: 20px;
        margin-top: 2px;
      }
    }
  }

  &--type {
    &-primary {
      &__number-container {
        // @include theme-prop(background-color, primary-color);
        color: #ffffff;
        background: #000000;
        border-radius: 100px;

        &:hover {
          @include theme-prop(background-color, primary-hover-color);
        }
      }
    }

    &-negative {
      &__number-container {
        // @include theme-prop(background-color, negative-color);
        background: linear-gradient(180deg, #d14485 0%, #e23248 100%);
        color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 100px;

        &:hover {
          @include theme-prop(background-color, negative-color-hover);
        }
      }
    }

    &-positive {
      &__number-container {
        // @include theme-prop(background-color, positive-color);
        background: linear-gradient(180deg, #cefb53 0%, #7af94b 100%);
        color: #000000;
        // border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 100px;

        &:hover {
          @include theme-prop(background-color, positive-color-hover);
        }
      }
    }

    &-secondary {
      &__number-container {
        // @include theme-prop(background-color, inverted-color-background);
        // @include theme-prop(color, text-color-on-inverted);
        color: #ffffff;
        border-radius: 100px;

        &:hover {
          @include theme-prop(background-color, secondary-text-color);
        }
      }
    }
  }

  &--status {
    &-active {
      &__number-container {
        box-shadow: 0 0 0 2px hsla(181, 97%, 72%, 1);

        &.l3-style-step-indicator-component {
          &--type {
            &-negative {
              &__number-container {
                // box-shadow: 0 0 0 4px var(--primary-background-color), 0 0 0 6px var(--negative-color);
              }
            }

            &-positive {
              &__number-container {
                // box-shadow: 0 0 0 4px var(--primary-background-color), 0 0 0 6px var(--positive-color);
              }
            }

            &-secondary {
              &__number-container {
                // box-shadow: 0 0 0 4px var(--primary-background-color), 0 0 0 6px var(--primary-text-color);
              }
            }
          }
        }
      }
    }

    &-pending {
      &__number-container {
        // @include theme-prop(background-color, primary-hover-color);
        // @include theme-prop(color, primary-text-color);
        // @include theme-prop(border-color, red);
        // border: 2px solid rgba(255, 255, 255, 0.3);

        &:hover {
          @include theme-prop(background-color, primary-color);
          @include theme-prop(color, text-color-on-primary);
          border: none;
        }

        &.l3-style-step-indicator-component {
          &--type {
            &-negative {
              &__number-container {
                border: 2px solid rgba(255, 255, 255, 0.3);
                &:hover {
                  @include theme-prop(background-color, negative-color);
                }
              }
            }

            &-positive {
              &__number-container {
                border: 2px solid rgba(255, 255, 255, 0.3);
                &:hover {
                  @include theme-prop(background-color, positive-color);
                }
              }
            }

            &-secondary {
              &__number-container {
                border: 2px solid rgba(255, 255, 255, 0.3);
                &:hover {
                  @include theme-prop(background-color, primary-text-color);
                  @include theme-prop(color, text-color-on-inverted);
                }
              }
            }
          }
        }
      }
    }
  }
}

@include keyframe(step-indicatior-circle-pop-elastic) {
  @include pop-elastic();
}

.l3-style-step-indicator-component {
  font-family: var(--font-family);
}

.l3-style-step-indicator-component__text-container__subtitle__text {
  font-family: var(--font-family);
}
