@import "../../../../styles/themes";
@import "../../../../styles/typography";
@import "../../../../styles/keyframes";
@import "../../../../styles/typography/main-typography";

$primary-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
$negative-background-color: linear-gradient(180deg, #e96878 0%, #d62e2e 100%);

.l3-style-step-indicator-component {
  display: flex;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;

    &__title {
      width: 93px;
      height: 32px;
      // @include typography-heading-small;
      font-family: $font-family;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: $white;
      margin-left: 20px;

      .visually-hidden {
        display: none;
      }
    }

    &__subtitle__text {
      width: 69px;
      height: 28px;
      // @include typography-heading-small;
      font-family: $font-family;
      font-style: normal;
      font-weight: 450;
      font-size: 18px;
      line-height: 28px;
      color: var(--color-transparent-white-06);
    }
  }

  &--text-placement-vertical {
    display: flex;
    position: relative;
    flex-direction: column;

    .l3-style-step-indicator-component {
      &__text-container {
        display: flex;
        position: absolute;
        margin-left: 50px;
      }

      &__number-divider-container {
        display: flex;
        flex-direction: column;
        position: relative;
        flex-wrap: wrap;

        .l3-style-divider {
          @include theme-prop(background-color, ui-border-color);
          height: 1px;
          width: 38px;
          flex-grow: 1;
          transform: rotate(-90deg);
          margin-left: 10px;
          margin-top: 20px;
          margin-bottom: 19px;
          gap: 10px;
        }
      }
    }
  }

  &.clickable {
    cursor: pointer;
  }

  &--with-animation {
    animation: step-indicatior-circle-pop-elastic var(--motion-expressive-short);
  }

  &--swap {
    /* New state enters */
    &-enter {
      opacity: 0;
      transform: translateY(15px);
    }

    &-enter-active {
      position: relative;
      opacity: 1;
      transition: transform var(--motion-productive-long) var(--motion-timing-enter),
        opacity var(--motion-productive-short);
      transform: translateY(0);
    }

    /* Old state leaves */
    &-exit {
      position: relative;
      opacity: 1;
      transform: translateY(0);
    }

    &-exit-active {
      position: relative;
      opacity: 0;
      transform: translateY(-15px);
      transition: transform var(--motion-productive-long) var(--motion-timing-enter),
        opacity var(--motion-productive-short);
    }
  }

  &__number-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 56px;
    height: 56px;
    border-radius: 100px;

    &__text {
      margin: auto;
      display: flex;
      align-items: center;

      &__check-icon {
        width: 20px;
        height: 20px;
        margin-top: 2px;
      }
    }
  }

  &--type {
    &-primary {
      &__number-container {
        color: $white;
        background: var(--color-transparent-black-05);
        &:hover {
          @include theme-prop(background-color, primary-hover-color);
        }
        &:active {
          box-shadow: $primary-box-shadow;
        }
      }
    }

    &-negative {
      &__number-container {
        background: $linear-gradient-red;
        color: $white;
        border: 1px solid rgba(0, 0, 0, 0.2);

        &:hover {
          background: var(--color-transparent-black-02);
          border: none;
        }
        &:active {
          box-shadow: $primary-box-shadow;
          background: var(--color-transparent-black-02);
          border: none;
        }
      }
    }

    &-positive {
      &__number-container {
        background: var(--color-gradient-green);
        color: $primary;
        border: 1px solid rgba(0, 0, 0, 0.2);

        &:hover {
          background: var(--color-transparent-black-02);
          border: none;
        }
        &:active {
          box-shadow: $primary-box-shadow;
          background: var(--color-transparent-black-02);
          border: none;
        }
      }
    }

    &-secondary {
      &__number-container {
        color: $white;

        &:hover {
          background: var(--color-transparent-black-02);
        }
        &:active {
          box-shadow: $primary-box-shadow;
          background: var(--color-transparent-black-02);
          border: none;
        }
      }
    }
  }

  &--status {
    &-active {
      &__number-container {
        &.l3-style-step-indicator-component {
          &--type {
            &-primary {
              &__number-container {
                border: 3px solid rgba(115, 250, 253, 1);
                &:hover {
                  @include theme-prop(background-color, primary-hover-color);
                  border: 1px solid black;
                }

                &:active {
                  box-shadow: $primary-box-shadow;
                  border: none;
                }
              }
            }
            &-negative {
              &__number-container {
                border: 3px solid rgba(115, 250, 253, 1);
                &:hover {
                  border: 1px solid black;
                  background: var(--primary-selected-hover-color);
                }
                &:active {
                  box-shadow: $primary-box-shadow;
                  background: var(--primary-selected-hover-color);
                  border: none;
                }
              }
            }

            &-positive {
              &__number-container {
                border: 3px solid rgba(115, 250, 253, 1);

                &:hover {
                  border: 1px solid black;
                  background: var(--primary-selected-hover-color);
                }
                &:active {
                  box-shadow: $primary-box-shadow;
                  background: var(--primary-selected-hover-color);
                  border: none;
                }
              }
            }

            &-secondary {
              &__number-container {
                // box-shadow: 0 0 0 4px var(--primary-background-color), 0 0 0 6px var(--primary-text-color);
                border: 3px solid rgba(115, 250, 253, 1);
                &:hover {
                  border: 1px solid black;
                  background: var(--primary-selected-hover-color);
                }
                &:active {
                  box-shadow: $primary-box-shadow;
                  background: var(--primary-selected-hover-color);
                  border: none;
                }
              }
            }
          }
        }
      }
    }

    &-pending {
      &__number-container {
        &.l3-style-step-indicator-component {
          &--type {
            &-negative {
              &__number-container {
                border: 2px solid rgba(255, 255, 255, 0.3);
                &:hover {
                  border: 1px solid black;
                  background: var(--primary-selected-hover-color);
                }
                &:active {
                  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
                  background: var(--primary-selected-hover-color);
                  border: none;
                }
              }
            }

            &-positive {
              &__number-container {
                border: 2px solid rgba(255, 255, 255, 0.3);
                &:hover {
                  border: 1px solid black;
                  background: var(--primary-selected-hover-color);
                }
                &:active {
                  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
                  background: var(--primary-selected-hover-color);
                  border: none;
                }
              }
            }

            &-secondary {
              &__number-container {
                border: 2px solid rgba(255, 255, 255, 0.3);
                &:hover {
                  border: 1px solid black;
                  background: var(--color-transparent-black-02);
                }
                &:active {
                  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
                  background: var(--color-transparent-black-02);
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include keyframe(step-indicatior-circle-pop-elastic) {
  @include pop-elastic();
}
