.wrapper {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
}

.referenceWrapper {
  display: inline-flex;
}
.iconButtonContainer {
  display: grid;
  grid-auto-flow: row;
  max-width: fit-content;
  gap: 10px;
  text-align: center;
}
.span {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
