@import "../../styles/typography/label-typography.scss";
.wrapper {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
}
.referenceWrapper {
  display: inline-flex;
}
.iconButtonContainer {
  display: grid;
  grid-auto-flow: row;
  max-width: fit-content;
  gap: 10px;
  text-align: center;
}
.l3_IconButton_label_styles {
  // @include typography-label-xs-small;
  @include typography-label-large;
}
